<!DOCTYPE html>
<html ng-app="friends_app">
<head>
	<meta charset="UTF-8">
	<title>CD MEAN Assignment: Track & Add friends</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript">
		var friends_app = angular.module('friends_app', []);

		friends_app.controller('FriendsController', function($scope, FriendFactory) {
			FriendFactory.index(function(data) {
				$scope.friends = data;
			});

			$scope.addfriend = function() {
				FriendFactory.create($scope.new_friend, function(friends) {
					$scope.friends = friends;
					$scope.new_friend = {};
				});
			}
		});

		friends_app.factory('FriendFactory', function($http) {
			var factory = {};
			var friends = [];

			factory.index = function(callback) {
				$http.get('/friends').success(function(output) {
					friends = output;
					callback(friends);
				});
			}

			factory.create = function(info, callback) {
				friends.push({name: info.name, age: info.age});
				callback(friends);
			}
			return factory;
		});
	</script>
</head>
<body ng-controller="FriendsController">
	<div id="wrapper">
		<form>
			<h1>Friends</h1>
			<input type="text" ng-model="filter_name" placeholder="filter">
			<p>{{filter_name}}</p>
			<ul>
				<li ng-repeat="friend in friends | filter: filter_name">
					{{friend.name}}, {{friend.age}}
				</li>
			</ul>
			<h1>Add a friend</h1>
			<input type="text" ng-model="new_friend.name" placeholder="name">
			<input type="text" ng-model="new_friend.age" placeholder="age">
			<input type="submit" ng-click="addfriend()">
		</form>
	</div>
</body>
</html>